* {
  margin: 0;
  padding: 0;
  font-family: cursive;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(117, 32, 187);
}

header h1 {
  font-size: 60px;
  color: white;
}

header ul {
  display: flex;
  justify-content: flex-end;
}

.Home {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
  border-radius: 20px;
}

.Home:hover {
  background-color: violet;
}

li {
  margin: 10px;
  list-style-type: none;
  line-height: 1.5;
}

header li {
  background-color: White;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
}

.Youtubeurl {
  width: 3%;
}

header a {
  text-decoration: none;
  color: black;
}

header li:hover {
  background-color: violet;
}

footer {
  text-align: center;
  background-color: rgb(117, 32, 187);
  display: flex;
  justify-content: space-around;
  color: white;
}

p {
  width: 70ch;
  line-height: 1.5;
}

#About {
  display: flex;
  flex-direction: column;
}

#Self {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

#Familylist {
  display: flex;
  justify-content: flex-start;
}

#Familyinfo {
}

.Textmain {
  background-color: whitesmoke;
  border: violet 10px solid;
  padding: 25px;
  margin: 25px;
  text-align: center;
  font-size: 20px;
  align-self: center;
}

.Bottomtxt {
  border: 5px gray dotted;
  background: Gold;
  border-radius: 10px;
  text-align: center;
}

.Textdiv {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.imgdiv {
  align-self: center;
  border: 15px violet solid;
  margin-top: 15px;
  padding: 15px;
  background-color: white;
}

img {
  width: 100%;
  text-align: center;
}

.imgdiv p {
  text-align: center;
}

.imgclass {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.Listdiv {
  border: violet 4px solid;
  background-color: white;
  margin: 75px;
  max-height: 200px;
}

.Listdiv li {
  list-style-type: disc;
}

.Listdiv a {
  text-decoration: none;
  font-size: 30px;
}

h2 {
  align-self: center;
  margin-top: 10px;
  color: white;
}

main {
  flex-grow: 1;
  background-color: purple;
}
